.login {
    top: 170px;
}


.login h1 {
    text-align: center;
    font-weight: 700;
    margin: 5px 0 15px;
}

.login h3 {
    text-align: center;
    font-size: 18px;
    color: #8B8B8D;
    margin: 0 0 20px;
}

.login .submitWrap {
    text-align: right;
}

.login .formNotice span:hover, .login .formNotice span:focus {
    color: #2A6496;
    text-decoration: underline;
}
.login .formNotice span {
    cursor: pointer;
    color: #428BCA;
}

.form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

