<!doctype html>
<html ng-app="cruiseApp">
<head>
    <script src="resources/js/angular-1.2.10.js"></script>
    <script src="resources/js/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/bootstrap-theme.css" rel="stylesheet">
    <link href="resources/css/index.css" rel="stylesheet">


    <script src="resources/js/index.js"></script>
</head>
<body>
<div id="wrap">
      #parse("/nav.vm")
    <div class="container" >
        <div ng-controller="AccordionDemoCtrl">
            <p>
                <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
                <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
            </p>

            <label class="checkbox">
                <input type="checkbox" ng-model="oneAtATime">
                Open only one at a time
            </label>
            <accordion close-others="oneAtATime">
                <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    This content is straight in the template.
                </accordion-group>
                <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                    {{group.content}}
                </accordion-group>
                <accordion-group heading="Dynamic Body Content">
                    <p>The body of the accordion group grows to fit the contents</p>
                    <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                    <div ng-repeat="item in items">{{item}}</div>
                </accordion-group>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    This is just some content to illustrate fancy headings.
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
    #parse("/footer.vm")
</body>
</html>
