<!doctype html>
<html ng-app="cruiseApp">
<head>

    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/bootstrap-theme.css" rel="stylesheet">
    <link href="resources/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="resources/css/index.css" rel="stylesheet">

    <script src="resources/js/jquery.min.js"></script>
    <script src="resources/js/angular-1.2.10.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="resources/js/bootstrap-table.min.js"></script>
    <script src="resources/js/bootbox.min.js"></script>
    <script src="resources/js/index.js"></script>
</head>
<body>
<div id="wrap">
      #parse("/nav.vm")
    <div class="container" >
        <div class="row">
            <div class="col-sm-3">
                <div ng-controller="AccordionDemoCtrl">
                    <accordion close-others="oneAtATime">
                        <accordion-group heading="User Management" is-open="true">
                            <p>Here you can add, delete, edit user or change  your profile</p>
                            <ul class="list-unstyled collapse in">
                               <li> <a href="#"><i class="glyphicon glyphicon-user"></i> My Profile</a> </li>
                                <li> <a href="userGroup.html"><i class="glyphicon glyphicon-user"></i> User Groups</a> </li>
                                <li> <a href="userList.html"><i class="glyphicon glyphicon-th-list"></i> List Users</a>  </li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="Cruise Management" is-open="true">
                            <p>Here you can add, delete, edit Cruise</p>
                            <ul class="list-unstyled collapse in">
                                <li> <a href="listCruise.html"><i class="glyphicon glyphicon-th-list"></i> List Cruise</a>  </li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="Schedules Management" is-open="true">
                            <p>Here you can add, delete, edit schedules or import schedule</p>
                            <ul class="list-unstyled collapse in">
                                <li> <a href="#"><i class="glyphicon glyphicon-indent-left"></i> Import Schedules</a> </li>
                                <li> <a href="#"><i class="glyphicon glyphicon-th-list"></i> List Schedules</a>  </li>
                            </ul>
                        </accordion-group>

                        <accordion-group heading="Other" is-open="true">
                            <ul class="list-unstyled collapse in">
                                <li> <a href="#"><i class="glyphicon glyphicon-comment"></i> Send Push Notification</a>  </li>
                                <li> <a href="#"><i class="glyphicon glyphicon-th-list"></i> List Notification</a>  </li>
                                <li> <a href="#"><i class="glyphicon glyphicon-th-list"></i> List Taxi</a>  </li>
                            </ul>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
            <div class="col-sm-9">
                #if("$!{viewType}" != "")
                    #parse("/${viewType}.vm")
                #end
            </div>
        </div>

    </div>
</div>


#parse("/footer.vm")
</body>
</html>
